<!DOCTYPE html>
<html>
<head>
    <title>Blog Application NodeJs</title>
</head>
<body>

    <h1>Edit Post</h1>

    <form action="/edit-post/<%= post._id %>" method="POST">

        <div>
            <label>Title:</label><br>
            <input type="text" name="title" value="<%= post.title %>" required>
        </div>

        <br>

        <div>
            <label>Content:</label><br>
            <textarea name="content" rows="5" cols="40" required><%= post.content %></textarea>
        </div>

        <br>

        <button type="submit">Update Post</button>

    </form>

    <br>
    <a href="/posts">Back to Posts</a>

</body>
</html>
